//- includes/head/_stamp.pug
//
       /\        |      since 2010      |
      /  \    ___|  ___   ___  ___   ___|  __
     /____\  (   ) (   ) (  - (   ) (   ) /__\
    (      ) (___) (___) (    (___) (___) \__
