//
// Basic
// -----------------------------------------------------------------------------

html,
body {
  height: 100%;
}

// stylelint-disable
html {
  &.color-theme-in-transition,
  &.color-theme-in-transition *,
  &.color-theme-in-transition *::before,
  &.color-theme-in-transition *::after {
    transition:
      background-color .5s ease-in-out,
      color .1s ease !important;
  }
}
// stylelint-enable

body {
  background-color: var(--body-background-color, $gray-800);
  color: var(--text-color, $gray-100);
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 { font-family: Aclonica, sans-serif; } // stylelint-disable-line

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .5) !important; // stylelint-disable-line
}

.navbar-toggler {
  transition: all .5s ease-in-out;
}

// Cookie consent
.cc-window {
  background: #252e39;
  color: #fff;
}

.cc-highlight {
  .cc-btn {
    border-color: transparent;
    background: #17a2b8;
    color: #000;

    &:first-child {
      border-color: transparent;
      background-color: transparent;
      color: #fff;
    }
  }
}

.cc-revoke.cc-bottom {
  background-color: #252e39;
  color: #fff;
}
