//
// Cards
// -----------------------------------------------------------------------------

.cards {
  // background-color: var(--ad-body-bg);
  display: flex;
  justify-content: center;
  padding: 3.5rem 0;

  @media (min-width: 1920px) {
    .container {
      max-width: 1440px;
    }
  }

  .card {
    margin: 0;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity .9s ease-in-out;
    visibility: hidden;
  }

  .card-fade-in {
    opacity: 1;
    visibility: visible;
  }

  .card-picture {
    // intrinsic ratio
    @include picture(3 4, ".card-img", false);
  }

  .card-img {
    border: none;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
  }
}

.card-img-overlay {
  // opacity: inherit;
  @include gradient-radial-circle(rgba($black, .1), rgba($black, .7));
  border-radius: unset;
}

.card-d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

.card-link {
  position: absolute;
  bottom: 1.25rem;
}

// Light and Dark background
.card {
  background-color: rgba($black, 0);
}

.card-light {
  background-color: $white;
  color: $black;
}

.card-dark {
  background-color: rgba($black, .6);
  color: $white;
}
