//
// Carousel
// -----------------------------------------------------------------------------

.carousel-portfolio {
  // NOTE: see `pages/_pages.scss`
  // background-color: var(--ad-bg-medium);
  // color: var(--ad-text-color);

  @media (min-width: 1920px) {
    .container {
      max-width: 1440px;
    }
  }

  .carousel-picture {
    // You should use a 16:9 image ratio, such as 1280 x 720 px.
    @include picture(16 9, ".carousel-img", false);
    background-color: var(--ad-bg-medium);
  }

  .carousel-img {
    // background-color: var(--ad-bg-medium);
  }

  .carousel-inner {
    overflow: unset;
  }

  .carousel-indicators [data-bs-target] {
    background-color: var(--ad-text-color);
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: none;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1) grayscale(100)
  }
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: var(--ad-text-color);
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"].carousel .carousel-control-prev-icon,
[data-bs-theme="dark"].carousel .carousel-control-next-icon {
  filter: none;
}
