//
// Carousel
// -----------------------------------------------------------------------------

.carousel-portfolio {
  background-color: var(--background-color-medium);
  color: var(--text-color);

  .carousel-picture {
    // You should use a 16:9 image ratio, such as 1280 x 720 px.
    @include picture(16 9, ".carousel-img", false);
  }

  .carousel-img {
    background-color: var(--background-color-medium);
  }

  .carousel-inner {
    overflow: unset;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: none;
  }
}
