//
// Cards
// -----------------------------------------------------------------------------

.cards {
  display: flex;
  justify-content: center;
  padding: 3.5rem 0;

  .card {
    margin: 0;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .6);
    opacity: 0;
    transition: opacity .9s ease-in-out;
    visibility: hidden;
  }

  .card-fade-in {
    opacity: 1;
    visibility: visible;
  }

  .card-picture {
    // intrinsic ratio
    @include card(3 4, ".card-img");

    .card-img {
      border: none;
      border-radius: 0;
      font-size: 0;
      line-height: 0;
    }
  }
}

.card-img-overlay {
  // opacity: inherit;
  @include gradient-radial-circle(rgba($black, .1), rgba($black, .7));
  border-radius: unset;
}

.card-d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text {
  font-size: 1.1rem;
  text-align: center;
}

.card-button {
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  padding: .75rem;
  border: 0;
  border-radius: 100%;
  background-color: $light-blue-500;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  outline: 0 !important; // stylelint-disable-line
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    color: darken($white, 20%);
    transform: scale(1.1) rotate(-90deg);
  }
}

.card-link {
  position: absolute;
  bottom: 1.25rem;
}

// Light and Dark background
.card {
  background-color: rgba($black, 0);
}

.card-light {
  background-color: $white;
  color: $black;
}

.card-dark {
  background-color: rgba($black, .6);
  color: $white;
}

// Gradient background
.card-orange {
  @include gradient-x($deep-orange-900, $deep-orange-500);
  color: $white;
}

.card-blue {
  @include gradient-x($light-blue-900, $light-blue-500);
  color: $white;
}

.card-green {
  @include gradient-x($green-900, $green-500);
  color: $white;
}

.card-grey {
  @include gradient-x($grey-900, $grey-700);
  color: $white;
}
