//
// Content
// -----------------------------------------------------------------------------

.newsletter {
  @include gradient-radial-circle-top(rgba($black, .3), rgba($black, .9));
  padding: 3rem 1.5rem;
  margin-right: 0;
  margin-left: 0;

  .form-inline {
    justify-content: center;
  }

  .form-control {
    border-width: 0;
  }
}

.technologies {
  // @include gradient-radial-circle-bottom(rgba($black, .3), rgba($black, .9));
  padding: 3rem 1.5rem;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;

  h2 {
    color: #777;
  }

  img {
    width: 40px;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    border: none;
    border-radius: 0;
    opacity: .5;
  }
}
