//
// Content
// -----------------------------------------------------------------------------

section {
  padding: 3rem 0;
  margin-right: 0;
  margin-left: 0;
}

.content {
  // @include gradient-radial-circle-top(rgba($black, .3), rgba($black, .9));
  background-color: $grey-800;
}

.picture-wrapper {
  width: 100%;
  height: 304px;
}
