//
// Contact
// -----------------------------------------------------------------------------

.contact-form {
  padding: 3rem 1.5rem;
  margin-right: 0;
  margin-left: 0;
  background-color: $grey-050;

  h3 {
    color: #777;
  }
}
