//
// Features
// -----------------------------------------------------------------------------

.features {
  padding: 3rem 1.5rem;
  margin-right: 0;
  margin-left: 0;
  background-color: darken($grey-800, 7%);

  .card {
    margin: 0 0 1.9rem;
    border: none;
  }
}
