//
// Form Style
// -----------------------------------------------------------------------------

form {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
}

.form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

.form-control {
  border-color: #ccc;

  &:focus {
    border-color: #14a0dc;
    outline: 0;
    box-shadow: none;
  }
}

.input {
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    padding: .625rem .75rem;
    margin: 0;
    border-right: 1px solid #ccc;
    color: #333;
    font-family: Roboto, Arial, sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    transition: all .2s linear;
    cursor: text;

    &[for="message"] {
      border-bottom: 1px solid #ccc;
      border-radius: 8px 0;
    }

    .required {
      color: #ff003b;
    }
  }

  input,
  textarea {
    width: 100%;
    padding-left: 100px;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
    color: #333;
    font-family: Roboto, Arial, sans-serif;
    transition: all .2s linear;
  }

  textarea {
    height: auto;
  }

  &.active {
    input,
    textarea {
      padding-left: 100px;
    }

    input:required:invalid,
    textarea:required:invalid {
      border: 1px solid #ff003b;
      color: #ff003b;
    }

    input:required:invalid + label,
    textarea:required:invalid + label {
      background: #ff003b;
    }

    input:required:invalid + label {
      border-right: 1px solid #ff003b;
    }

    textarea:required:invalid + label {
      border-right: 1px solid #ff003b;
      border-bottom: 1px solid #ff003b;
      border-radius: 8px 0;
    }

    input:required:invalid:focus + label,
    textarea:required:invalid:focus + label {
      background: #ff003b;
    }

    input:required:invalid:focus + label {
      border-right: 1px solid #ff003b;
    }

    textarea:required:invalid:focus + label {
      border-right: 1px solid #ff003b;
      border-bottom: 1px solid #ff003b;
      border-radius: 8px 0;
    }

    label {
      top: 0;
      left: 15px;
      width: 90px;
      padding: 11px .75rem 9px;
      border-right: 1px solid #14a0dc;
      border-radius: 8px 0 0 8px;
      background: #14a0dc;
      color: #fff;
      text-align: center;
    }

    label span {
      color: #fff !important; // stylelint-disable-line
    }

    textarea + label {
      border-right: 1px solid #14a0dc;
      border-bottom: 1px solid #14a0dc;
      border-radius: 8px 0;
    }
  }
}

// error ~ success
// ---------------
.loading {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.success {
  border: 1px solid #0c7f2f;
  background: rgba(17, 173, 64, .8);
}

.error {
  border: 1px solid #ad102f;
  background: rgba(220, 20, 60, 1);
}

.success,
.error {
  position: relative;
  padding: 10px;
  margin: 0 0 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.success span,
.error span {
  font-size: 1.2em;
  font-weight: 900;
}
