//
// Form Style
// -----------------------------------------------------------------------------

form {
  padding: 0;
  margin: 0;
  border-radius: var(--bs-border-radius);
  background-color: var(--ad-bg-normal);
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.form-control {
  border-color: var(--bs-body-bg);
  text-indent: 82px;
  @media (min-width: 992px) {
    text-indent: 110px;
  }

  @at-root textarea#{&} {
    line-height: 1.7;
  }

  &:focus {
    border-color: $buttons-color;
  }

  .newsletter & {
    // background-color: var(--ad-body-bg);
    border-color: var(--ad-body-bg);

    @media (min-width: 992px) {
      text-indent: 0;
    }
  }
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  padding: .5625rem .75rem;
  margin: 0;
  border: solid $buttons-color;
  border-width: 1px 0;
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
  background-color: $buttons-color;
  color: $black;
  font-size: .75rem;
  line-height: 1.5;
  text-align: center;
  transition: all .2s linear;
  cursor: text;

  &[for$="message"] {
    border-radius: var(--bs-border-radius) 0;
  }

  @media (min-width: 992px) {
    width: 110px;
    padding: .375rem .75rem;
    font-size: 1rem;
  }
}

.newsletter .col-lg {
  margin-right: 1px;
}

// Form validation for labels
// --------------------------
@each $state, $data in $form-validation-states {
  @include formarea-validation-state($state, map-get($data, color));
}

// Border radius
// --------------------------
// stylelint-disable declaration-no-important
@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }

  .rounded-lg-start-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .rounded-lg-end-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
// stylelint-enable declaration-no-important
