//
// Form Style
// -----------------------------------------------------------------------------

form {
  padding: 0;
  margin: 0;
  background-color: $gray-900;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.form-control {
  border-color: #ccc;

  &:focus {
    border-color: #17a2b8;
  }
}

.input {
  position: relative;

  input,
  textarea {
    padding-left: 100px;
    border-radius: .5rem;
    color: #333;
    transition: all .2s linear;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    padding: .625rem .75rem;
    margin: 0;
    border-right: 1px solid #17a2b8;
    border-radius: .5rem 0 0 .5rem;
    background-color: #17a2b8;
    color: $white;
    font-family: Roboto, Arial, sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    transition: all .2s linear;
    cursor: text;

    &[for$="message"] {
      border-bottom: 1px solid #17a2b8;
      border-radius: .5rem 0;
    }

    .required {
      color: $white;
    }
  }
}

// Form validation
// --------------------------
@each $state, $data in $form-validation-states {
  @include formarea-validation-state($state, map-get($data, color));
}

// Form response
// --------------------------
.loading {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.success {
  border: 1px solid #0c7f2f;
  background: rgba(17, 173, 64, .8);
}

.error {
  border: 1px solid #ad102f;
  background: rgba(220, 20, 60, 1);
}

.success,
.error {
  position: relative;
  padding: 10px;
  margin: 0 0 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.success span,
.error span {
  font-size: 1.2em;
  font-weight: 900;
}
