//
// Header
// -----------------------------------------------------------------------------

.masthead {
  // height: calc(100vh / 2);
  height: 210px;

  @media screen and (min-width: 576px) {
    height: 300px;
  }

  @media screen and (min-width: 768px) {
    height: 400px;
  }

  .masthead-wraper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .masthead-picture {
    transition: filter .5s ease-in-out;
    filter: grayscale(90%) blur(10px);

    // `Non-open Graph Stories Images` appear in a rectangular format.
    // You should use a 1.91:1 image ratio, such as 600 x 314 px.
    @include top-fluid-aspect(1.91 1, ".masthead-img");

    .masthead-img {
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }
  }

  .top-fade-in {
    filter: none;
  }

  .mastehead-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    @include gradient-radial-circle(rgba($black, .1), rgba($black, .7));
  }
}
