//
// Hero Unit and Scroller
// -----------------------------------------------------------------------------

.hero-unit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .6);//

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

  // Background
  &::before {
    z-index: -2;
    background: url(../images/hero-unit/grass_field_dawn.jpg) center center / cover no-repeat;
  }

  // Black overlay
  &::after {
    z-index: -1;
    @include gradient-radial-circle(rgba($black, .3), rgba($black, .9));
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .branding {
      background: url(../images/hero-unit/grass_field_dawn.jpg) center center / cover no-repeat;
      color: $primary-color;
      font-size: 10rem;
      -webkit-background-clip: text; // stylelint-disable-line
      -webkit-text-fill-color: transparent;
    }
  }

  @media (max-width: 767px) and (orientation: portrait) {
    &::before {
      z-index: -2;
      background: url(../images/hero-unit/grass_field_dawn-portrait.jpg) center center / cover no-repeat;
    }

    &::after {
      z-index: -1;
      @include gradient-radial-circle(rgba($black, .3), rgba($black, .9));
    }

    .hero-content {
      .branding {
        background: url(../images/hero-unit/grass_field_dawn-portrait.jpg) center center / cover no-repeat;
        font-size: 5rem;
        -webkit-background-clip: text; // stylelint-disable-line
      }
    }
  }

  @media (max-width: 479px) and (orientation: portrait) {
    .hero-content {
      .branding {
        font-size: 3rem;
      }
    }
  }
}
