//
// Hero Unit
// -----------------------------------------------------------------------------

.hero {
  padding: 0;
}

.hero-unit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;

  // Hero content
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  // Clip background element
  .clip-bg {
    // background-image: url(../images/hero-unit/grass_field_dawn-portrait.jpg);
    background-image: url(../images/hero-unit/grass_field_dawn-portrait.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      // background-image: url(../images/hero-unit/grass_field_dawn.jpg);
      background-image: url(../images/hero-unit/grass_field_dawn.webp);
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
    }

    // Background
    &::before {
      z-index: -2;
      background-image: inherit;
      background-position: inherit;
      background-size: inherit;
      background-repeat: inherit;
    }

    // Overlay
    &::after {
      z-index: -1;
      @include gradient-radial-circle(rgba($black, .3), rgba($black, .9));
    }
  }

  // Clip text element
  .clip-text {
    background-clip: text;
    color: $primary-color;
    -webkit-text-fill-color: transparent;

    // CSS Hacks
    // Chrome and Safari on iPad
    @media not all and (min-resolution: .001dpcm) {
      -webkit-text-fill-color: $primary-color;
    }

    // Microsoft Edge
    @supports (-ms-ime-align:auto) {
      -webkit-text-fill-color: $primary-color;
    }
  }

  // Main title
  .branding {
    width: 100%;
    font-size: 4rem;
    line-height: 1.5;

    @media (min-width: 576px) {
      font-size: 5rem;
    }

    @media (min-width: 768px) {
      font-size: 7.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 10rem;
    }
  }

  // Rotate text
  .rotate {
    width: 100%;

    .rotate-text {
      display: none;

      // CSS hack for animation
      -webkit-text-fill-color: rgba($primary-color, .5);

      @media (max-width: 575.98px) {
        font-size: 1.5rem;
      }
    }
  }
}
