//
// Forms in Modal
// -----------------------------------------------------------------------------

.modal {
  --bs-modal-color: var(--bs-body-color);
}

.modal-content {
  background-color: var(--body-background-color);
  box-shadow: 0 0 10px $buttons-color;
}

// .modal-quote-error {
//   box-shadow: 0 0 10px rgba(255, 0, 59, 1);
// }
