//
// Navbar and Drawer
// -----------------------------------------------------------------------------

.navbar-toggler {
  line-height: 1.5;
}

.svg-inline--fa.fa-1x {
  width: 1em;
}

.navbar-brand {
  font-family: Aclonica, sans-serif;
}

.theme-settings {
  .dropdown-menu {
    background-color: var(--background-color-medium);
  }
}
