//
// OffCanvas Sidebar Menu
// -----------------------------------------------------------------------------

.offcanvas {
  background-color: var(--ad-offcanvas-bg);
  color: var(--ad-text-color);
}

.offcanvas-start {
  border: none;
}

.offcanvas-header {
  padding: 0;
  background-color: var(--ad-offcanvas-header-bg);

  .menu-logo {
    padding: 1.5rem 0;
    margin: 1.5rem auto;
    color: $base-color;

    p {
      font-family: Aclonica, sans-serif;
    }
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: .5rem;
    margin: .25rem .25rem 0 0;
    font-size: 1.25rem;

    &:focus {
      box-shadow: none;
    }
  }
}

.offcanvas-body {
  // code here
}

.offcanvas-nav {
  .nav-link {
    color: var(--ad-link-color);
    font-weight: 700;

    @include hover-focus {
      background-image: unset;
      background-color: var(--ad-bg-normal);
      color: var(--ad-link-color);
    }
  }

  .nav-link.active,
  .show > .nav-link {
    background-image: unset;
    background-color: var(--ad-bg-normal);
    color: $base-color;
  }
}

.offcanvas-footer {
  padding: 1rem .5rem;
  background-color: var(--ad-offcanvas-header-bg);
  color: var(--ad-text-color);
}
