//
// Portfolio
// -----------------------------------------------------------------------------

.portfolio {
  padding: 3rem 1.5rem;
  margin-right: 0;
  margin-left: 0;
  background-color: $grey-900;

  .portfolio-picture {
    // You should use a 16:9 image ratio, such as 1280 x 720 px.
    @include portfolio-fluid-aspect(16 9, ".portfolio-img");
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: none;
  }
}

