//
// Tags
// -----------------------------------------------------------------------------

.tags {
  // float: left;
  // padding-top: .75rem;

  .tag {
    display: inline-block;
    padding: .5rem;
    margin: 1rem .5rem 0;
    border: none;
    border-radius: 3px;
    background-color: #303030;
    color: #fefefe;
    font-size: 1rem;
    font-weight: 700;
  }

  .babel {
    background-color: #323330;
    color: #f5da55;
  }

  .css {
    background-color: #bc70a4;
    color: #111;
  }

  .express {
    background-color: #b565a7;
    color: #000;
  }

  .git {
    background-color: #f14e32;
    color: #100;
  }

  .go {
    background-color: #bfd641;
    color: #000;
  }

  .gulp {
    background-color: #cf4647;
  }

  .html {
    background-color: #f2552c;
  }

  .js {
    background-color: #ecdb54;
    color: #000;
  }

  .node {
    background-color: #5b5ea6;
    color: #fff;
  }

  .react {
    background-color: #282c34;
    color: #61dafb;
  }

  .serverless {
    background-color: #000;
    color: #b73833;
  }

  .vue {
    background-color: #00a591;
    color: #200;
  }

  .webpack {
    background-color: #8ed6fb;
    color: #111;
  }
}
