//
// Technologies
// -----------------------------------------------------------------------------

.technologies {
  // NOTE: see `pages/_pages.scss`
  // background-color: var(--ad-bg-normal);
  // color: var(--ad-text-color);

  .tech-logos {
    width: 40px;
    max-width: 100%;
    height: auto;
    margin: 1rem;
    border: none;
    border-radius: 0;
    opacity: .8;
  }

  [data-bs-theme="dark"] & {
    .tech-logos {
      opacity: 1;
      filter: invert(1) grayscale(100);
    }
  }

  .angularjs {
    opacity: .25;
  }

  .aws {
    width: 100px;
  }

  .electronjs {
    opacity: .5;
  }

  .html5 {
    width: 30px;
    opacity: .3;
  }

  .mongodb {
    width: 120px;
    opacity: .5;
  }

  .mysql {
    width: 70px;
    margin-top: -.25rem;
  }

  .nodejs {
    opacity: .7;
  }

  .vuejs {
    width: 35px;
  }
}
