//- includes/pages/_cookies.pug
section.cookies#cookies
  .container
    .row
      .col
        if entry.inline
          script#CookieDeclaration(
            src="https://consent.cookiebot.com/fa29e1aa-8209-485c-af5c-d9918ac44fdb/cd.js" async)
