//- includes/pages/_cookies.pug

section.cookie#cookie
  .container
    .row
      .col-12.col-hd-8.offset-hd-2
        h2 Cookie policy

        p: strong Please read the following information carefully:
        p.
          To comply with the requirements set out in the EU Directive of 26 May 2012 and
          the provisions of Law no. 506 of November 17, 2004 regarding data processing with
          personal character and the protection of private life in the communications sector
          electronic, all website visitors are asked for their consent
          before sending cookies to their computers.
        p.
          This website uses its own and third-party cookies to provide
          visitors a much better browsing experience and tailored services
          everyone's needs and interests.
        p.
          Cookies play an important role in facilitating access and delivery
          the multiple services that the user enjoys on the Internet, such as:
        ul
          li.
            Customizing certain settings such as: the language in which a site is viewed,
            accessing old preferences by accessing the "forward" and "back" button.
          li.
            Cookies provide website owners with valuable feedback on
            how their sites are used by users, so that
            to be able to make them even more efficient and accessible to users.
          li.
            Allow multimedia or other applications from other sites to be
            included in a particular site to create a better browsing experience
            valuable, more useful and more pleasant.

        h3 What is a "cookie"?
        p.
          An "Internet Cookie" (term also known as "browser cookie" or "HTTP
          cookie" or simply "cookie") is a small file, formatted
          of letters and numbers, which will be stored on the computer, mobile terminal or other
          a user's equipment from which the Internet is accessed.
        p.
          The cookie is installed by the request issued by a web server to a
          browser (eg: Internet Explorer, Chrome) and is completely "passive" (does not contain
          software, viruses or spyware and cannot access the information on the hard drive
          the user's drive).
        p.
          A cookie consists of 2 parts: the name and the content or value
          the cookie. Furthermore, the lifetime of a cookie is determined;
          technically, only the webserver that sent the cookie can access it again in
          the moment when a user returns to the website associated with the web server
          respectively.
        p.
          Cookies themselves do not request personal information to
          could be used and, in most cases, do not personally identify
          internet users.

        p There are 2 large categories of cookies:
        ol
          li.
            #[strong Session cookies] – these are temporarily stored in
            the cookies folder of the web browser for it to save them to
            when the user leaves the respective website or closes the window
            browser (eg: when logging in/out on a webmail account or on
            social networks).
          li.
            #[strong Persistent cookies] – these are stored on
            hard drive of a computer or equipment (and generally depends on the duration of
            default cookie lifetime). Persistent cookies include those
            placed by a website other than the one the user is visiting
            that moment - known as "third party cookies" (cookies
            placed by third parties) – which can be used anonymously to remember
            a user's interests, so that advertising is delivered as much as possible
            relevant to users.

        h3 What are the advantages of cookies?
        p.
          A cookie contains information that connects a web browser (the user) and a
          specific web server (the website). If a browser accesses that web server again, it
          it can read the information already stored and react accordingly. Cookies provide users with
          a pleasant browsing experience and support the efforts of many websites to provide services
          user-friendly: eg – online privacy preferences, options
          regarding website language, shopping carts or relevant advertising.

        h3 What is the lifetime of a cookie?
        p.
          Cookies are managed by web servers. The lifetime of a cookie may vary
          significantly, depending on the purpose for which it is placed. Some cookies are used
          exclusively for a single session (session cookies) and are no longer retained once
          the user has left the website, and some cookies are retained and reused by everyone
          when the user returns to that website (permanent cookies). However,
          cookies can be deleted by a user at any time through the browser settings.

        h3 How are cookies used by a site?
        p A visit to a website may place cookies for:
        ul
          li increasing the performance of the website;
          li an analysis of visitors;
          li geotargeting them;
          li user registration.

        h4: em Performance cookies
        p.
          This type of cookie remembers the user's preferences on this site, so it is no longer
          need to set them every time you visit the site.

        p Examples: volume settings for the video player, video streaming speed with which the browser is compatible.

        h4: em Cookies for visitor analysis
        p.
          Each time a user visits a site, analytics software provided by a third party
          part generates a user analysis cookie. This cookie tells if you have visited before
          this site so far. The browser will signal if you have this cookie, and if not, it will be generated
          one. It allows monitoring of unique users who visit the site and how often they do so.

        p.
          As long as the visitor is not registered on the site, this cookie cannot be used for
          to identify natural persons, they are used only for statistical purposes. If registered
          details provided such as email address and
          the username - these being subject to confidentiality, according to the provisions of the legislation
          in force regarding the protection of personal data.

        h4: em Cookies for geotargeting
        p.
          These cookies are used by a software that determines which country you come from.
          It is completely anonymous and is only used to target content – even when
          the visitor is on the page in Romanian or in another language, the same advertisement will be received.

        h4: em Cookies for registration
        p.
          When you register on a site, a cookie is generated that lets you know if you are
          registered or not. The servers use these cookies to show the account with which
          you are registered and if you have permission for a particular service. Also,
          it is allowed to associate any comment posted on the site with your username. If you have not
          selected "keep me registered", this cookie will be deleted automatically when you
          close your browser or computer.

        h3 Other third-party cookies
        p.
          On some pages, third parties may set their own anonymous cookies in order to track success
          an application or to customize an application.
        p.
          For example, when you share an article using the social media button found
          on a site, that social network will record your activity.

        h3 What type of information is stored and accessed through cookies?
        p.
          Cookies store information in a small text file that allows a
          website to recognize a browser. The web server will recognize the browser until the cookie expires or is deleted.
        p.
          The cookie stores important information that improves the Internet browsing experience
          (eg: language settings in which a website is accessed; keeping a user logged in to the webmail account;
          online banking security; keeping products in the shopping cart)

        h3 Why are cookies important to the Internet?
        p.
          Cookies are central to the efficient functioning of the Internet, helping to
          generating a friendly browsing experience adapted to preferences and interests
          to each user. Refusing or disabling cookies may make some sites unusable.
        p.
          Examples of important uses of cookies (that do not require the authentication of a
          user through an account):
        ol
          li.
            Content and services tailored to user preferences – categories of news, weather, sports,
            maps, public and government services, entertainment sites and travel services.
          li.
            Offers tailored to user interests – password retention, language preferences
            (eg: display of search results in Romanian).
          li.
            Retaining child protection filters on Internet content
            (family mode options, safe search functions).
          li.
            Measurement, optimization and analytics features – such as confirming a specific
            traffic level on a website, what type of content is viewed and how a user
            reaches a website (eg: through search engines, directly, from other websites).
            The websites carry out these analyzes of their use in order to improve the sites for the benefit of the users.

        h3 Security and privacy issues
        p.
          #[strong NO] cookies are viruses! They use plain text formats. They are not made up
          from pieces of code, so they cannot be executed, nor can they self-execute. Consequently, no
          they can be duplicated or replicated to other networks to run or replicate again.
          Since they cannot perform these functions, they cannot be considered viruses.
        p.
          Cookies can still be used for negative purposes. Because it stores information
          about users' preferences and browsing history, both on a particular site and
          on many other sites, cookies can be used as a form of Spyware. Many products
          anti-spyware are aware of this fact and constantly mark cookies for
          to be deleted during anti-virus/anti-spyware deletion/scanning procedures.
        p.
          In general, browsers have built-in privacy settings that provide different levels
          acceptance of cookies, the period of validity and automatic deletion after the user
          visited a certain site.

        h3 Tips for safe and responsible browsing, based on cookies.
        ul
          li.
            Customize your browser settings regarding cookies to reflect this
            a comfortable level for you of the security of the use of cookies.
          li.
            If you share computer access, you may consider setting your browser to
            delete individual browsing data each time you close your browser. This one
            it's a variation of going to sites that place cookies and deleting anything
            visit information when closing the browsing session.
          li.
            Always install and update your antispyware applications.
          li.
            Many spyware detection and prevention applications include attack detection
            on websites. Thus, it prevents the browser from accessing websites that could sp exploit
            browser vulnerabilities or download dangerous software.

        h3 How can I stop cookies?
        p: strong Disabling and refusing to receive cookies can make certain sites impractical or difficult to visit and use.
        p.
          It is possible to set the browser so that these cookies are no longer accepted or se
          can set the browser to accept cookies from a specific site. But for example
          if a visitor is not registered using cookies, they will not be able to leave comments.
        p.
          All modern browsers offer the possibility to change cookie settings.
          These settings are usually found in the Options/Settings menu or in the Preferences/Favorites menu of the browser.
