//- includes/pages/_info.pug
include ../../mixins/_pictures

section.info#info-1
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("dawn_desktop_background_dusk", "Performance")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Performance
        p.mb-3.font-weight-bold.
          Made with love and in accordance with the newest technologies.
        p.mb-4.
          Performance is important for Search Engine Optimization (SEO), as well
          as for user experience. About 40% of people will abandon a site that
          takes over three seconds to load.
        p.mb-0.font-weight-bold #test #critical #speed #performance #user #new #tech

section.info#info-2
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("architecture_blur_building_exterior", "Audit Ready")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Audit Ready
        p.mb-3.font-weight-bold.
          Examination of page performance to achieve your goals.
        p.mb-4.
          A website audit is an examination of page performance prior to large-scale search engine optimization (SEO)
          or a website redesign. Auditing your website can determine whether or not it's optimized to achieve your
          traffic goals, and if not, how you can improve it to increase performance.
        p.mb-0.font-weight-bold #audit #traffic #performance #goals #optimize

section.info#info-3
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("sea_waves_rocks_beach_sunrise", "SEO Ready")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left SEO Ready
        p.mb-3.font-weight-bold.
          Generate leads for your business through organic traffic.
        p.mb-4.
          All our products are optimized for search engines, helping you generate leads
          for your business through organic traffic. Website content that relates to your
          target audience and follows key principles of SEO.
        p.mb-0.font-weight-bold #seo #leads #organic #traffic #audience #target

section.info#info-4
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("wallpaper_autumn_branches", "Best practices")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Best practices
        p.mb-3.font-weight-bold.
          We follow the best practices for modern web development.
        p.mb-4.
          Web design is one of the most powerful digital mediums out there. Because of the huge role it plays,
          it is expected to undergo more shifts in technology than any other platform.
          The design also impacts your conversions, credibility, and ultimately makes or breaks the success of your site.
        p.mb-0.font-weight-bold #modern #web #development #good #practice #success

section.info#info-5
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("clouds_daylight_forest", "Accessibility")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Accessibility
        p.mb-3.font-weight-bold.
          Provide equal access, no barriers that prevent interaction.
        p.mb-4.
          Web accessibility is the inclusive practice of ensuring there are no barriers that prevent interaction
          with, or access to, websites on the World Wide Web by people with physical disabilities, situational
          disabilities, and socio-economic restrictions on bandwidth and speed.
        p.mb-0.font-weight-bold #equal #access #opportunity #people #disabilities #accessible

section.info#info-6
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("background_beautiful_clouds", "Responsive design")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Responsive design
        p.mb-3.font-weight-bold.
          Make it look good on all devices, mobile-friendly.
        p.mb-4.
          Responsive Web design is the approach that suggests that design and development should respond
          to the user's behavior and environment based on screen size, platform and orientation.
          Content, design and performance are necessary across all devices to ensure usability and satisfaction.
        p.mb-0.font-weight-bold #4k #desktop #laptop #tablet #mobile #layout #screen
