//- includes/pages/_info.pug
include ../../mixins/_pictures

section.info#info-1
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("dawn_desktop_background_dusk", "Performance")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Performance
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.info#info-2
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("architecture_blur_building_exterior", "Audit Ready")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Audit Ready
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.info#info-3
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("sea_waves_rocks_beach_sunrise", "SEO Ready")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left SEO Ready
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.info#info-4
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("wallpaper_autumn_branches", "Best practices")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Best practices
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.info#info-5
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +infoPicture("clouds_daylight_forest", "Accessibility")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Accessibility
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.info#info-6
  .container
    .row.align-items-center
      .col-12.col-md-6
        +infoPicture("background_beautiful_clouds", "Responsive design")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Responsive design
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.
