//- includes/pages/_portfolio.pug
include ../../mixins/_portfolio

section.portfolio#portfolio-1
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +portfolioPicture("unikorn", "UniKorn")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left UniKorn
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.portfolio#portfolio-2
  .container
    .row.align-items-center
      .col-12.col-md-6
        +portfolioPicture("respo", "Respo")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Respo
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.portfolio#portfolio-3
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +portfolioPicture("webmagia", "WebMagia")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left WebMagia
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.

section.portfolio#portfolio-4
  .container
    .row.align-items-center
      .col-12.col-md-6
        +portfolioPicture("timero", "Timero")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Timero
        p.mb-0.
          Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.
          Consec tetur adipiscing elit mauris solicitud, lorem ipsum dolor sit amet.
          Dolor sit amet, consec tetur adipiscing elit mauris solicitud lorem ipsum.
