//- includes/pages/_services.pug
include ../../mixins/_pictures

section.services#services-1
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +servicesPicture("landscape_tree_black", "Web Design")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Web Design
        p.mb-3.font-weight-bold.
          Made with love and in accordance with the newest technologies.
        p.mb-4.
          We offer innovative web design solutions which move the boundaries.
          Our sophisticated approach to the development of digital experiences exceeds all expectations.
        p.mb-0.font-weight-bold #website #templates #forms #custom #design

section.services#services-2
  .container
    .row.align-items-center
      .col-12.col-md-6
        +servicesPicture("lighthouse_lantern_sky_storm_night", "Web Development")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Web Development
        p.mb-3.font-weight-bold.
          We focus our attention in writing every line of code.
        p.mb-4.
          We follow the latest web design trends to develop modern websites for small and as well large businesses.
          We are going to make sure that your website will stands out from your competition, that will generate leads for your business.
        p.mb-0.font-weight-bold #wordpress #cms #catalogue #ecommerce #blog

section.services#services-3
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +servicesPicture("road_sunset_marking_grass", "Mobile Apps")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Mobile Apps
        p.mb-3.font-weight-bold.
          Turn devices into miniature powerhouses of function and fun.
        p.mb-4.
          A mobile application is a type of a software applications designed to run on a smartphone or a tablet.
          Mobile applications frequently serve to provide users with similar services to those accessed on PCs.
        p.mb-0.font-weight-bold #android #ios #mobile #tablet #software #online

section.services#services-4
  .container
    .row.align-items-center
      .col-12.col-md-6
        +servicesPicture("sunset_sun_clouds", "Web Applications")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Web Applications
        p.mb-3.font-weight-bold.
          Make the most of technologies, interact with your user.
        p.mb-4.
          Web applications are loaded as web pages, but they can store data locally and they can continue to function while offline.
          They have just as similar functionalities as a desktop software application or as a mobile app.
        p.mb-0.font-weight-bold #web #apps #webmail #client-side #software #offline

section.services#services-5
  .container
    .row.align-items-center
      .col-12.col-md-6.order-md-1
        +servicesPicture("sea_surf_wave_sunset", "Smart Solutions")
      .col-12.col-md-6
        h3.my-4.mt-md-0.text-center.text-md-left Smart Solutions
        p.mb-3.font-weight-bold.
          Make your daily life better and easier.
        p.mb-4.
          Smart Solutions applies the latest artificial intelligence to solve complex problems. Improve your
          living space by considering the size of your home or easy to use products with high-end technology.

        p.mb-0.font-weight-bold #artificial #intelligence #living #space #high-end #tech
