//- layout/_base.pug
html(lang="en" itemscope itemtype="http://schema.org/LocalBusiness" prefix="og: http://ogp.me/ns#")

  include ../partials/_stamp
  block setting

  head
    block head
      include ../partials/_head
      include ../partials/_statics
      //- include ../partials/_opengraph
    block fonts
      include ../partials/_fonts
    block styles
      include ../partials/_styles
    block head-js
      include ../partials/_analytics

  body
    main
      block navbar
        include ../modules/drawer/_drawer
        include ../modules/navbar/_navbar
      block header
      block content
        include ../includes/sections/_newsletter
        include ../includes/sections/_parallax
      block footer
        include ../modules/footer/_footer
    block modal
      include ../includes/modal/_quote
    include ../includes/misc/_back-to-top
    block scripts
      include ../partials/_scripts
