//- layout/_base.pug
html(lang="en" data-bs-theme="dark" prefix="og: http://ogp.me/ns#")

  include ../partials/_stamp
  block setting

  head
    block head
      include ../partials/_meta
      include ../partials/_statics
      include ../partials/_preconnect
      include ../partials/_color-modes
    block fonts
      include ../partials/_fonts
    block styles
      include ../partials/_styles
    block head-js
      include ../partials/_analytics

  body
    main
      block navbar-top
        include ../modules/offcanvas/_offcanvas
        include ../modules/navbar/_navbar-top
      block header
      block content
        include ../includes/forms/_newsletter
        include ../includes/sections/_story
      block footer
        include ../modules/footer/_footer
    block modal
      include ../includes/forms/_modal-get-quote
    block navbar-bottom
      include ../modules/navbar/_navbar-bottom
    block scripts
      include ../partials/_scripts
