//- layout/_layout.pug
html(lang="en" itemscope itemtype="http://schema.org/LocalBusiness" prefix="og: http://ogp.me/ns#")

  include ../includes/head/_stamp
  block setting

  head
    block head
      include ../includes/head/_head
      include ../includes/head/_statics
      include ../includes/head/_opengraph
    block fonts
      include ../includes/files/_fonts
    block styles
      include ../includes/files/_styles
    block head-js
      //- include ../includes/head/_tagmanager
      include ../includes/head/_analytics

  body
    //- include ../includes/head/_facebook-sdk
    //- include ../includes/head/_tagnoscript
    main
      block navbar
        include ../includes/drawer/_drawer
        include ../includes/navbar/_navbar
      block header
      block content
        include ../includes/sections/_newsletter
        include ../includes/sections/_parallax
      block footer
        include ../includes/footer/_footer
    block modal
      include ../includes/modal/_quote
    include ../includes/misc/_back-to-top
    block scripts
      include ../includes/files/_scripts
