//- layout/_layout.pug
html(lang="en" itemscope itemtype="http://schema.org/LocalBusiness" prefix="og: http://ogp.me/ns#")

  include ../includes/files/_stamp
  block setting

  head
    block head
      include ../includes/files/_head
      include ../includes/files/_statics
      //- include ../includes/files/_opengraph
    block fonts
      include ../includes/files/_fonts
    block styles
      include ../includes/files/_styles
    block head-js
      //- include ../includes/files/_tagmanager
      //- include ../includes/files/_analytics

  body
    //- include ../includes/files/_facebook-sdk
    //- include ../includes/files/_tagnoscript
    main
      block navbar
        include ../includes/drawer/_drawer
        include ../includes/navbar/_navbar
      block header
      block content
        include ../includes/sections/_newsletter
        include ../includes/sections/_parallax
      block footer
        include ../includes/footer/_footer
    block modal
      include ../includes/modal/_quote
    include ../includes/misc/_back-to-top
    block scripts
      include ../includes/files/_scripts
