//- layout/_thanks.pug
html(lang="en")

  block setting

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="../statics/icons/favicon.ico")
    if title
      title= title
    else
      title Thank you!

    block styles
      link(
        href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext" rel="stylesheet")
      if entry.inline
        link#inline-style(href="css/thanks.min.css" inline)
      else
        link#main-style(rel="stylesheet" href="../css/thanks.css" media="screen")

    block head-js
      include ../partials/_gtag

  body
    block content
      include ../includes/thanks/_card
    block scripts
      script.
        (function() {
          if (document.referrer && document.location.host && document.referrer.match(new RegExp("^https?://" + document.location.host))) {
            document.getElementById("back-link").setAttribute("href", document.referrer);
          }
        })();
