//
// Fluid aspect
// -----------------------------------------------------------------------------

@mixin parent() {
  position: relative;
  display: block;
  background-color: var(--ad-bg-normal);
}

@mixin child($ratio) {
  aspect-ratio: #{nth($ratio, 1) + "/" + nth($ratio, 2)};
  width: 100%;
  height: auto;
}

@mixin filter() {
  // Grayscale filter - go from grayscale to full picture on load
  transition: filter .3s ease-in-out;
  filter: grayscale(90%) blur(10px);
}

@mixin picture($ratio: 1 1, $selector: "> :first-child", $filter: true) {
  $selector-child: unquote($selector);

  // parent
  @include parent();
  @if $filter {
    @include filter();
  }

  // child
  #{$selector-child} {
    @include child($ratio);
  }
}
