//
// Fluid aspect
// -----------------------------------------------------------------------------

@mixin parent($ratio) {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1)); // Intrisic ratio
  background-color: var(--background-color-normal);
}

@mixin childTop() {
  position: absolute;
  top: -35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
}

@mixin child($ratio) {
  width: 100%;
  height: auto;
  aspect-ratio: #{nth($ratio, 1) + "/" + nth($ratio, 2)};
}

@mixin filter() {
  // Grayscale filter - go from grayscale to full picture on load
  transition: filter .3s ease-in-out;
  filter: grayscale(90%) blur(10px);
}

@mixin picture($ratio: 1 1, $selector: "> :first-child", $banner: true, $filter: true) {
  $selector: unquote($selector);

  // parent
  @include parent($ratio);
  @if $filter {
    @include filter();
  }

  // child
  #{$selector} {
    @if $banner {
      @include childTop();
    } @else {
      @include child($ratio);
    }
  }
}

@mixin card($ratio: 1 1, $selector: "> :first-child") {
  $selector: unquote($selector);

  // parent
  @include parent($ratio);

  // child
  #{$selector} {
    @include child($ratio);
  }
}
