//- modules/offcanvas/_offcanvas.pug
include ../../mixins/_menulink
include ../../mixins/_pictures

.offcanvas.offcanvas-start#main-menu(tabindex="-1" aria-labelledby="menuLogo")
  .offcanvas-header
    .menu-logo.text-center#menuLogo
      h2.display-5.mb-0 Adorade
      p.mb-0 Your Web design
    button.btn-close(type="button" data-bs-dismiss="offcanvas" aria-label="Close Main Menu")

  .offcanvas-body
    ul.offcanvas-nav.nav.nav-pills.flex-column.mb-auto
      +menuLink(menu)

  .offcanvas-footer
    include ../../includes/misc/_copyright
