//- modules/navbar/_navbar-bottom.pug
nav.navbar.fixed-bottom.bg-transparent
  .container-fluid.px-3
    .navbar-b-left
      //- include ../../includes/misc/_cc-settings

    .navbar-b-right.d-inline-flex
      include ../../includes/misc/_get-in-touch
      include ../../includes/misc/_back-to-top
