//- includes/drawernavbar/_navbar.pug
nav.navbar.fixed-top.navbar-dark.bg-transparent
  .navbar-header.d-inline-flex
    button.navbar-toggler(
      type="button" role="button" data-toggle="drawer" data-target="#drawer"
      aria-controls="drawer" aria-expanded="false" aria-label="Toggle navigation")
      //- i.fas.fa-bars.fa-1x
      img.svg-inline--fa.fa-1x#fa-bars(src="fonts/svgs/solid/bars.svg" alt="Bars" inline)
