//- mixins/_carousel-portfolio.pug

//- Portfolio Carousel
//------------------------
//- include ../path/to/mixins/_carousel-portfolio
//- Usage: +portPicture("name", "alt")
mixin portPicture(name, alt)
  picture.portfolio-picture
    source(type="image/webp" data-srcset="images/portfolio/" + name + ".webp" media="(min-width: 576px)")
    source(type="image/png" data-srcset="images/portfolio/" + name + ".png" media="(min-width: 576px)")
    source(type="image/webp" data-srcset="images/portfolio/" + name + "-min.webp")
    source(type="image/png" data-srcset="images/portfolio/" + name + "-min.png")
    img.lazy-portfolio.portfolio-img(data-src="images/portfolio/" + name + "-min.png" alt=alt)
