//- mixins/_portfolio.pug

//- Carousel Items
//------------------------
//- include ../path/to/mixins/_portfolio
//- Usage: +carouselPicture("name", "alt")
mixin carouselPicture(name, alt)
  picture.carousel-picture.shadow-lg
    source(type="image/webp" data-srcset="images/portfolio/" + name + ".webp" media="(min-width: 576px)")
    source(type="image/png" data-srcset="images/portfolio/" + name + ".png" media="(min-width: 576px)")
    source(type="image/webp" data-srcset="images/portfolio/" + name + "-min.webp")
    source(type="image/png" data-srcset="images/portfolio/" + name + "-min.png")
    img.lazy-carousel.carousel-img(data-src="images/portfolio/" + name + ".png" alt=alt)

//- Portfolio Items
//------------------------
//- include ../path/to/mixins/_portfolio
//- Usage: +portfolioPicture("name", "alt")
mixin portfolioPicture(name, alt)
  picture.portfolio-picture.shadow-lg
    source(type="image/webp" data-srcset="images/portfolio/" + name + "-min.webp")
    source(type="image/png" data-srcset="images/portfolio/" + name + "-min.png")
    img.lazy-portfolio.portfolio-img(
      src="images/portfolio/" + name + "-min.png" inline
      data-src="images/portfolio/" + name + "-min.png" alt=alt)
