//- includes/files/_styles.pug
block external-css
  // Adorade CSS Files
  //- link(
  //-   rel="stylesheet"
  //-   href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  //-   integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
  //-   crossorigin="anonymous")

block custom-css
  //- link#inline-style(rel="stylesheet" href="css/style.min.css" media="screen" inline)
  //- link(rel="stylesheet" href="css/style.min.css" media="screen")
  //- link#main-style(rel="stylesheet" href="css/style.css" media="screen" inline)
  link#main-style(rel="stylesheet" href="css/style.css" media="screen")
