//- includes/head/_tagnoscript.pug
// Google Tag Manager (noscript)
noscript
  iframe(
    src="https://www.googletagmanager.com/ns.html?id=GTM-WL7S38"
    height="0" width="0" style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
