//
// Info Page
// =============================================================================

.info {
  background-color: $gray-800;

  .info-picture {
    transition: filter .5s ease-in-out;
    filter: grayscale(90%) blur(10px);

    // You should use a 16:9 image ratio, such as 540x304 px.
    @include picture(16 9, ".info-img");
  }

  .fade-in {
    filter: none;
  }
}
