//
// Pages
// -----------------------------------------------------------------------------

.contact,
.carousel-portfolio,
.features,
.newsletter,
.portfolio,
.services {
  color: var(--text-color);
}

.contact,
.portfolio,
.services {
  background-color: var(--body-background-color);
}

.carousel-portfolio {
  background-color: var(--background-color-medium);
}

.features,
.newsletter {
  background-color: var(--background-color-dark);
}

.picture-wrapper {
  // You should use a 16:9 image ratio, such as 540x304 px.
  @include picture(16 9, ".lazy-features", false, true);
}

.fade-in {
  filter: none;
}
