//
// Pages
// -----------------------------------------------------------------------------

.contact,
.carousel-portfolio,
.features,
.newsletter,
.portfolio,
.services {
  color: var(--ad-text-color);
}

.hero,
.cards,
.contact,
.portfolio,
.services,
.feature,
.story,
.testimonials,
.footer-container {
  background-color: var(--ad-body-bg);
}

.features,
.technologies {
  background-color: var(--ad-bg-normal);
}

.newsletter,
.carousel-portfolio {
  background-color: var(--ad-bg-medium);
}

.picture-wrapper {
  // You should use a 16:9 image ratio, such as 540x304 px.
  @include picture(16 9, ".lazy-features", true);
}

.fade-in {
  filter: none;
}
