//
// Portfolio Page
// =============================================================================

.portfolio {
  background-color: var(--body-background-color);
  color: var(--text-color);

  .portfolio-picture {
    transition: filter .5s ease-in-out;
    filter: grayscale(90%) blur(10px);

    // You should use a 16:9 image ratio, such as 540x304 px.
    @include picture(16 9, ".portfolio-img");
  }

  .portfolio-img {
    background-color: var(--background-color-normal);
  }

  .fade-in {
    filter: none;
  }
}
