//
// Services Page
// -----------------------------------------------------------------------------

.services {
  background-color: var(--body-background-color);
  color: var(--text-color);

  .services-picture {
    // You should use a 16:9 image ratio, such as 540x304 px.
    @include picture(16 9, ".services-img");
  }

  .fade-in {
    filter: none;
  }
}
