//
// Services Page
// =============================================================================

.services {
  background-color: $grey-900;

  .services-picture {
    transition: filter .5s ease-in-out;
    filter: grayscale(90%) blur(10px);

    // You should use a 16:9 image ratio, such as 540x304 px.
    @include portfolio-fluid-aspect(16 9, ".services-img");
  }

  .fade-in {
    filter: none;
  }
}
