//- includes/sections/_carousel.pug
include ../../mixins/_pictures

section.carousel-portfolio.text-center#carousel-portfolio
  .container
    .row
      .col
        h2.mb-4 Our work

    .row.mb-5
      .col
        .carousel.slide.carousel-fade#carouselPortfolio(data-ride="carousel")
          .carousel-indicators
            li.active(data-target="#carouselPortfolio" data-slide-to="0")
            li(data-target="#carouselPortfolio" data-slide-to="1")

          .carousel-inner
            .carousel-item.active
              +carouselPicture("webmagia", "WebMagia")
            .carousel-item
              +carouselPicture("unikorn", "UniKorn")

          a.carousel-control-prev(href="#carouselPortfolio" role="button" data-slide="prev" aria-label="Previous")
            span.carousel-control-prev-icon(aria-hidden="true")
          a.carousel-control-next(href="#carouselPortfolio" role="button" data-slide="next" aria-label="Next")
            span.carousel-control-next-icon(aria-hidden="true")

    .row
      .col
        p.mb-0: a.btn.btn-orange(href="portfolio.html") See our work &#8594;
