//- includes/sections/_features.pug
section.features.text-center#features
  .container
    .row
      .col-12
        h2.mb-0 Features and benefits

    .row.mt-5.mb-3
      .col-12.col-sm-6.col-lg-4
        .card.card-orange
          .card-img
            i.fas.fa-tachometer-alt.fa-5x
          .card-body
            h4.card-title Performance
            p.card-text Made with love and in accordance with the newest technologies.

      .col-12.col-sm-6.col-lg-4
        .card.card-grey
          .card-img
            i.fas.fa-tools.fa-5x
          .card-body
            h4.card-title Audit
            p.card-text Examination of page performance to achieve your goals.

      .col-12.col-sm-6.col-lg-4
        .card.card-blue
          .card-img
            i.fas.fa-medal.fa-5x
          .card-body
            h4.card-title SEO Ready
            p.card-text Generate leads for your business through organic traffic.

      .col-12.col-sm-6.col-lg-4
        .card.card-grey
          .card-img
            i.fas.fa-heartbeat.fa-5x
          .card-body
            h4.card-title Best practices
            p.card-text Follow the best practices for modern web development.

      .col-12.col-sm-6.col-lg-4
        .card.card-green
          .card-img
            i.fas.fa-universal-access.fa-5x
          .card-body
            h4.card-title Accessibility
            p.card-text Provide equal access, no barriers that prevent interaction.

      .col-12.col-sm-6.col-lg-4
        .card.card-grey
          .card-img
            i.fas.fa-desktop.fa-5x
          .card-body
            h4.card-title Responsive
            p.card-text Make it look good on all devices, mobile-friendly.

    .row
      .col-12
        p.mb-0: a.btn.btn-orange.track-link(href="info.html" aria-label="Info") More &#8594;
