//- includes/sections/_features.pug
section.features.text-center#features
  .container
    .row
      .col-12
        h2.mb-0 Features and benefits

    .row.mt-5.mb-3
      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-tachometer-alt.fa-5x
          .card-body
            h4.card-title Performance
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-tools.fa-5x
          .card-body
            h4.card-title Audit
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-medal.fa-5x
          .card-body
            h4.card-title SEO Ready
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-heartbeat.fa-5x
          .card-body
            h4.card-title Best practices
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-universal-access.fa-5x
          .card-body
            h4.card-title Accessibility
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

      .col-12.col-sm-6.col-lg-4
        .card.bg-transparent
          .card-header
            i.fas.fa-desktop.fa-5x
          .card-body
            h4.card-title Responsive
            p.card-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit mauris solicitud.

    .row
      .col-12
        p.mb-0: a.btn.btn-outline-orange(href="info.html") Read more
