//- includes/sections/_hero.pug
section#hero
  .hero-unit
    .hero-content.clip-bg.clip-text
      h1.branding.mb-0 Adorade
      .rotate#rotate
        h2.mb-0.rotate-text Web Design
        h2.mb-0.rotate-text Web Development
        h2.mb-0.rotate-text Mobile Development
        h2.mb-0.rotate-text Web Applications
        h2.mb-0.rotate-text Smart Solutions
    include ../misc/_scroll-down
