//- includes/sections/_marks.pug
//- Marks
section.marks.text-center#marks
  .container
    .row
      .col.col-sm-4
        i.fas.fa-home.fa-5x
        p.mb-0.mt-3 Oradea / Romania
      .col.col-sm-4
        i.fas.fa-heartbeat.fa-5x
        p.mb-0.mt-3 Chicago / USA
      .col.col-sm-4
        i.fas.fa-map-marked-alt.fa-5x
        p.mb-0.mt-3 London / UK
