//- includes/sections/_newsletter.pug
section.newsletter.text-center#newsletter
  h2.mb-4 Check our newsletter
  form.form-inline(action="#!")
    .form-group.mr-0.mr-sm-2.mb-2.mb-sm-0
      label.sr-only(for="inputEmail") Check our newsletter
      input.form-control#inputEmail(type="email" placeholder="your@email.here")
    button.btn.btn-outline-orange(type="submit") Submit
