//- includes/sections/_newsletter.pug
section.newsletter.text-center#newsletter
  h2.mb-4 Check our newsletter
  form.form-inline(action="#!")
    .input-group
      input.form-control#newsemail(type="email" name="newsemail" placeholder="your@email.here" aria-label="your@email.here")
      .input-group-append
        button.btn.btn-outline-orange(type="submit") Submit
