//- includes/sections/_newsletter.pug
section.newsletter.text-center#newsletter
  h2.mb-4 Check our newsletter
  form.form-inline(action="#!")
    .input-group
      label.sr-only(for="inputEmail") your@email.here
      input.form-control#inputEmail(type="email" placeholder="your@email.here")
      .input-group-append
        button.btn.btn-outline-orange(type="submit") Submit
