//- includes/sections/_parallax.pug
include ../../mixins/_pictures

section.parallax#parallax
  .parallax-window
    +parallaxPicture("grass_field_dawn", "Good Morning")
    .parallax-overlay
      .container
        .row
          .col.col-lg-8.offset-lg-2
            h2
              | Once upon a time, we started a journey, to discover, to learn...
              | #[span.p-2 beautiful things].
