//- includes/sections/_parallax.pug
// call-to-action
section.parallax#parallax
  .parallax-window
    .parallax-mask
    img.img-parallax#bg-parallax(src="images/hero-unit/grass_field_dawn.jpg" data-speed="1" alt="call-to-action")
