//- includes/sections/_parallax.pug
include ../../mixins/_pictures

section.parallax#parallax
  .parallax-window
    +parallaxPicture("pine_trees_under_blue_sky_1920x1080", "Pine Trees Under Blue Sky")
    .parallax-overlay
      .container
        .row
          .col.col-lg-8.offset-lg-2
            h2
              | Once upon a time, we started a journey, to discover, to learn...
              | #[span.p-2 beautiful things].
