//- includes/sections/_technologies.pug
section.technologies.text-center#technologies
  .container
    .row
      .col-12
        h2.mb-4 Technologies we work with
    .row
      .col-lg-8.offset-lg-2
        img.tech-logos(src="images/tech/wordpress.svg" alt="logos" inline)
        img.tech-logos(src="images/tech/php.svg" alt="logos" inline)
        img.tech-logos.mysql(src="images/tech/mysql.svg" alt="logos" inline)
        img.tech-logos.html5(src="images/tech/html5.svg" alt="logos" inline)
        img.tech-logos(src="images/tech/javascript.svg" alt="logos" inline)
        img.tech-logos.angularjs(src="images/tech/angular.svg" alt="logos" inline)
        img.tech-logos.nodejs(src="images/tech/nodejs.svg" alt="logos" inline)
        img.tech-logos(src="images/tech/firebase.svg" alt="logos" inline)
        img.tech-logos.vuejs(src="images/tech/vue.svg" alt="logos" inline)
        img.tech-logos(src="images/tech/webpack.svg" alt="logos" inline)
        img.tech-logos.electronjs(src="images/tech/electron.svg" alt="logos" inline)
        img.tech-logos.mongodb(src="images/tech/mongodb.svg" alt="logos" inline)
        img.tech-logos.aws(src="images/tech/aws.svg" alt="logos" inline)
