//- includes/footer/_footer.pug
footer.footer#footer
  .footer-container.text-center
    .footer-tags
      include _footer-tags
    .footer-cta
      include _footer-call-to-action
    //- .footer-news
    .footer-social
      include _footer-social
    .footer-legal
      include ../misc/_copyright
