//- includes/footer/_footer.pug
footer.footer#footer
  //- picture
  //-   source(type="image/webp" srcset="images/hero-unit/grass_field_dawn.webp")
  //-   source(type="image/jpeg" srcset="images/hero-unit/grass_field_dawn.jpg")
  //-   img.img-fluid(src="images/hero-unit/grass_field_dawn.jpg" alt="Card image cap")
  .footer-container.text-center
    .footer-cta
      include _footer-call-to-action
    //- .footer-news
    .footer-social
      include _footer-social
    .footer-legal
      include ../misc/_copyright
