//- includes/footer/_footer-social.pug
ul.footer-social-menu#menu-footer-social
  li.menu-item: a(target="_blank" href="#!" title="Facebook") #[i.fab.fa-facebook-square.fa-fw.fa-2x]
  li.menu-item: a(target="_blank" href="#!" title="Messenger") #[i.fab.fa-facebook-messenger.fa-fw.fa-2x]
  li.menu-item: a(target="_blank" href="#!" title="WhatsApp") #[i.fab.fa-github.fa-fw.fa-2x]
  li.menu-item: a(target="_blank" href="#!" title="Twitter") #[i.fab.fa-twitter.fa-fw.fa-2x]
  //- li.menu-item: a(target="_blank" href="#!" title="Instagram") #[i.fab.fa-instagram.fa-fw.fa-2x]
  //- li.menu-item: a(target="_blank" href="#!" title="Pinterest") #[i.fab.fa-pinterest.fa-fw.fa-2x]
