//- contact.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Contact';
  - description = 'Should you need any further information, please do not hesitate to contact us!';
  - currentUrl = 'contact.html';

block header
  include modules/header/_header-contact

prepend content
  include includes/forms/_contact-form
