//- contact.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Contact';
  - description = '';
  - currentUrl = 'contact.html';

block header
  include modules/header/_header-contact
  include includes/forms/_contact-form
  include includes/sections/_marks
