//- cookies-policy.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Cookies Policy';
  - description = '';
  - currentUrl = 'cookies-policy.html';

block header
  include modules/header/_header-cookies

block content
  include includes/pages/_cookies
  include includes/sections/_parallax
