//- index.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Web Design Company';
  - description = '';
  - currentUrl = 'index.html';

block header
  include includes/sections/_hero

prepend content
  include includes/sections/_cards
  include includes/sections/_features
  include includes/sections/_portfolio
  include includes/sections/_testimonials
  include includes/sections/_technologies
