//- info.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Info';
  - description = '';
  - currentUrl = 'info.html';

block header
  include modules/header/_header-info

prepend content
  include includes/pages/_info
