//- portfolio.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Portfolio';
  - description = '';
  - currentUrl = 'portfolio.html';

block header
  include modules/header/_header-portfolio

prepend content
  include includes/pages/_portfolio
