//- services.pug
extends layout/_base

prepend setting
  - title = 'Adorade - Services';
  - description = 'We help you with web design solutions to develop your online presence! Complete services.';
  - currentUrl = 'services.html';

block header
  include modules/header/_header-services

prepend content
  include includes/pages/_services
