//
// Animation
// -----------------------------------------------------------------------------

@keyframes letterspace {
  0%,
  100% { letter-spacing: -.025em; }
  50% { letter-spacing: .025em; }
}

@keyframes scroll {
  0%,
  100% { opacity: .2; }
  50% { opacity: .8; }
}

// For Forms validation
@keyframes shake-x {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes skale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
}

.shake-x {
  animation-name: shake-x;
}

.skale {
  animation: skale 8s infinite;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
