//
// Theme Color Scheme
// -----------------------------------------------------------------------------

:root,
[data-bs-theme="light"] {
  --body-background-color: #{$gray-100};
  --background-color-normal: #{darken($gray-100, 5%)};
  --background-color-medium: #{darken($gray-100, 10%)};
  --background-color-dark: #{$gray-400};
  --text-color: #{$gray-800};
  --link-color: #{$gray-800};
  --offcanvas-header-background-color: #{$gray-300};
}

[data-bs-theme="dark"] {
  color-scheme: dark;

  --body-background-color: #{$gray-800};
  --background-color-normal: #{darken($gray-800, 5%)};
  --background-color-medium: #{darken($gray-800, 10%)};
  --background-color-dark: #{$gray-900};
  --text-color: #{$gray-100};
  --link-color: #{$gray-100};
  --offcanvas-header-background-color: #{$gray-900};
}
