//- modules/drawer/_drawer.pug
include ../../mixins/_drawer

.drawer.fade#drawer(tabindex="-1" role="dialog" aria-hidden="true")
  .drawer-dialog.drawer-dark(role="document")
    .drawer-content
      .drawer-header
        a.drawer-logo(href="./")
          picture
            source(data-srcset="images/logo/logo-adorade-drawer.webp" type="image/webp")
            source(data-srcset="images/logo/logo-adorade-drawer.png" type="image/png")
            img.lazy-drawer.img-fluid(data-src="images/logo/logo-adorade-drawer.png" alt="Adorade")
        button.close(type="button" role="button" data-dismiss="drawer" aria-label="Close")
          i.fas.fa-times

      .drawer-body
        ul.drawer-nav.mb-auto.mb-3.fa-ul
          +drawerLink(menu)
          //- li.nav-item.active: a.nav-link(href="./") #[span.fa-li #[i.fas.fa-home.fa-fw]] Home
          //- li.nav-item: a.nav-link(href="#!") #[span.fa-li #[i.fas.fa-toolbox.fa-fw]] Services
          //- li.nav-item: a.nav-link(href="#!") #[span.fa-li #[i.fas.fa-info-circle.fa-fw]] Info
          //- li.nav-item: a.nav-link(href="#!") #[span.fa-li #[i.fas.fa-image.fa-fw]] Portfolio
          //- li.nav-item: a.nav-link(href="#!") #[span.fa-li #[i.fas.fa-envelope.fa-fw]] Contact

      .drawer-footer
        include ../../includes/misc/_copyright
