//- partials/_analytics.pug
if entry.inline
  //--- Google tag (gtag.js)
  script(async src="https://www.googletagmanager.com/gtag/js?id=G-TB28LRXJ7Y")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TB28LRXJ7Y');
