//- partials/_cookie.pug
//- Cookie Consent - Enable Cookiebot
if entry.inline
  script#Cookiebot(
    src="https://consent.cookiebot.com/uc.js"
    data-cbid="fa29e1aa-8209-485c-af5c-d9918ac44fdb" data-blockingmode="auto")
