//- partials/_fonts.pug
//--- Load Google Fonts
if entry.inline
  link#inline-fonts-css(rel="stylesheet" href="fonts/fonts.css" inline)
else
  link#fonts-css(rel="stylesheet" href="fonts/fonts.css")

//--- Load Font Awesome
link(rel="preconnect" href="https://kit-free.fontawesome.com")
script#load-font-aws-kit(defer src="https://kit.fontawesome.com/aec4506a79.js" crossorigin="anonymous")
