//- partials/_fonts.pug
//--- Load Google Fonts
if entry.inline
  link#inline-fonts-css(rel="stylesheet" href="fonts/fonts.css" inline)
else
  link#fonts-css(rel="stylesheet" href="fonts/fonts.css")

//--- Load Font Awesome
//- see fonts/fonts.css
