//- partials/_fonts.pug
// Load Fonts
//- Use Google Fonts CSS
link(href="https://fonts.googleapis.com/css?family=Aclonica|Roboto&display=swap" rel="stylesheet" media="all")

//- Use WebFont Loader
//- script.
//-   WebFontConfig = {
//-     google: { families: [ 'Aclonica%7CRoboto&display=swap' ] }
//-   };

//-   (function() {
//-     var wf = document.createElement('script');
//-     wf.src = 'https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js';
//-     wf.async = 'true';
//-     var s = document.getElementsByTagName('script')[0];
//-     s.parentNode.insertBefore(wf, s);
//-   })();

//- Use your own Fonts CDN
//- if entry.inline
//-   link#fonts-style(href="css/vendor/fonts.css" inline)
//- else
//-   link#fonts-style(rel="stylesheet" href="css/vendor/fonts.css" media="all")

//- Font Awesome Free
//- script(defer
//-   src="https://kit.fontawesome.com/22a4aa9152.js"
//-   integrity="sha384-jGY5YUE3BAHeHKYaJOm6ksflRGCV6iXphfg/zIy5vu/7enHEusQ6GPSmqBPfcn3O"
//-   crossorigin="anonymous")

script(defer
  src="https://use.fontawesome.com/releases/v5.10.0/js/all.js"
  integrity="sha384-BfzGEucsDAHnSR99xBvG8cNHx7h6sEbKJejtvqlMrN8nMi3gP2ds+sMAjWfWnZyn"
  crossorigin="anonymous")
