//- partials/_fonts.pug
//--- Load Google Fonts
link#google-fonts-css(
  href="https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto&display=swap"
  rel="stylesheet")

//--- Load Font Awesome
if entry.inline
  link#inline-fa-css(rel="stylesheet" href="fonts/fonts.css" inline)
else
  link#fa-css(rel="stylesheet" href="fonts/fonts.css")
