//- partials/_head.pug
//- META
// Required meta tags
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

if title
  title= title
else
  title Adorade - Web Design Company

if description
  meta(name="description" content= description)
else
  meta(name="description" content="Once upon a time, we started a journey, to discover, to learn... beautiful things.")
