//- partials/_meta.pug
- short = "Adorade - Your Web Design"
- desc = "Once upon a time, we started a journey, to discover, to learn... beautiful things."
- url = "https://adorade.ro/"

//--- Required meta tags
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="color-scheme")

//--- Primary Meta Tags
if title
  title= title
else
  title= short

if description
  meta(name="description" content= description)
else
  meta(name="description" content= desc)

if currentUrl
  link(rel="canonical" href= url + currentUrl)
else
  link(rel="canonical" href= url)

//- //--- Schema.org markup for Google
//- script(type="application/ld+json").
//-   {
//-     "@context": "https://schema.org",
//-     "@type": "LocalBusiness",
//-     "url": "https://adorade.ro",
//-     "name": "Adorade - Web Design",
//-     "image": "https://adorade.ro/images/share/adorade_og_share.jpg"
//-   }

//--- Open Graph / Facebook / Twitter
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@adorade")
meta(property="og:url" content= url)
meta(property="og:type" content="website")
meta(property="og:title" content= short)
meta(property="og:description" content= desc)
meta(property="og:image" content= url + "images/share/adorade_fb_share.jpg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="fb:app_id" content="161881187806327")
