//- partials/_preconnect.pug
- cdn = 'https://cdn.adorade.ro/fonts/google/'
- aclonica = 'aclonica-v10-latin-regular'
- roboto = 'roboto-v20-latin-regular'

link(rel="preload" as="font" type="font/woff2" href=cdn + aclonica + ".woff2" crossorigin)
link(rel="preload" as="font" type="font/woff2" href=cdn + roboto + ".woff2" crossorigin)
