//- partials/_scripts.pug
block external-js
  //--- Adorade JS Files
  //- external scripts here (cdn), then ...

block vendors-js
  //--- Vendors main JS
  //- jQuery 3.6.0                      - modules
  //- bootstrap bundle 5.2.3            - modules
  //- cookieconsent 3.1.1               - modules
  script#vendors(defer src="js/vendors.min.js")

block custom-js
  //--- Main Script
  if entry.inline
    script#main-min-script(defer src="js/script.min.js")
  else
    script#main-dev-script(defer src="js/script-dev.js")
