//- partials/_scripts.pug
block external-js
  //--- Adorade JS Files
  //- external scripts here (cdn), then ...

block vendors-js
  //--- Vendors main JS
  //- jQuery 3.6.0                      - modules
  //- @popperjs/core 2.9.2              - modules
  //- bootstrap 5.0.1                   - modules
  //- browser.js 4.0.0                  - src
  //- cookieconsent 3.1.1               - modules
  script#vendors(defer src="js/vendors.min.js")

block custom-js
  //--- Main Script
  if entry.inline
    script#main-min-script(defer src="js/script.min.js")
  else
    script#main-dev-script(defer src="js/script-dev.js")
