//- partials/_scripts.pug
block external-js
  //--- Adorade JS Files
  //- external scripts here (cdn), then ...

block vendors-js
  //--- Vendors main JS
  //- jQuery 3.5.1, popper.js 1.16.1, unikorn 1.0.0
  //- yall.js 3.1.7, browser.js 4.0.0, cookieconsent 3.1.1
  if entry.inline
    script#vendors(defer src="js/vendor/main.min.js")
  else
    script#vendors(defer src="js/vendor/main.js")

block custom-js
  //--- Main Script
  if entry.inline
    script#main-min-script(defer src="js/script.min.js")
  else
    script#main-dev-script(defer src="js/script-dev.js")
