//- partials/_styles.pug
block external-css
  //--- Adorade CSS Files
  //- external styles here (cdn), then ...

block vendors-css
  //--- Vendors main CSS
  //- animate.min.css 3.7.2, cookieconsent 3.1.1
  if entry.inline
    link#inline-vendors-css(href="css/vendors.min.css" inline)
  else
    link#vendors-css(rel="stylesheet" href="css/vendors.min.css")

block custom-css
  //--- Main Style
  if entry.inline
    link#inline-style(href="css/style.min.css" inline)
  else
    link#main-style(rel="stylesheet" href="css/style.css" media="screen")
