//- partials/_styles.pug
block external-css
  //--- Adorade CSS Files, external styles here (cdn)
  link#cc-style(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanilla-cookieconsent@2.9.2/dist/cookieconsent.min.css"
    integrity="sha384-u8HWPacvFUZhfG4V/pVc2ArshKqadLWxg/9hpFZHSztrnSwrWevl6j/uPdLLtKPb" crossorigin="anonymous")

block custom-css
  //--- Main Style
  if entry.inline
    link#inline-style(href="css/style.min.css" inline)
  else
    link#main-style(rel="stylesheet" href="css/style.css" media="screen")
