//- includes/misc/_get-in-touch.pug
button.btn.btn-lg.get-in-touch.text-uppercase(
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#GetQuoteModal"
  aria-label="Get in touch") get in touch
