//- includes/misc/_offcanvas.pug
.navbar-menu
  button.btn.btn-toggler(
    type="button" data-bs-toggle="offcanvas" data-bs-target="#main-menu"
    aria-controls="main-menu" aria-label="Toggle navigation")
    //- i.fas.fa-bars.fa-1x
    img.svg-inline--fa.fa-w-16#fa-bars(src="fonts/svgs/solid/bars.svg" alt="Bars" inline)
    //- svg.svg-inline--fa.fa-w-16#fa-bars: use(xlink:href="fonts/sprites/solid.svg#bars")
