//- includes/misc/_scroll-down.pug
.scroll-down
  //- .scroller-text scroll down
  .scroll-down-icon.scroll(aria-label="Scroll down")
    //- i.fas.fa-chevron-down
    img.svg-inline--fa#fa-chevron-down(src="fonts/svgs/solid/chevron-down.svg" alt="Down" inline)
