//- modules/footer/_footer-tags.pug
.container
  .row
    .col
      .tags
        span.tag.express Express
        span.tag.node Node.js
        span.tag.git Git
        span.tag.serverless Serverless
        span.tag.html HTML5
        span.tag.webpack webpack
        span.tag.react React
        span.tag.vue Vue.js
        span.tag.go Go
        span.tag.js JavaScript
        span.tag.css CSS
        span.tag.babel Babel
        span.tag.gulp Gulp
