//- modules/footer/_footer-tags.pug
.container
  .row
    .col-12
      .tags
        a.button.express(href="#!") Express
        a.button.node(href="#!") Node.js
        a.button.git(href="#!") Git
        a.button.network(href="#!") Network
        a.button.browser(href="#!") Web Platform
        a.button.react(href="#!") React
        a.button.vue(href="#!") Vue.js
        a.button.go(href="#!") Go
        a.button.js(href="#!") JavaScript
        a.button.css(href="#!") CSS
        a.button.devtools(href="#!") DevTools
        a.button.services(href="#!") Services
        a.button.lab(href="#!") Lab
