//- modules/footer/_footer-call-to-action.pug
.container
  .row
    .col-lg-8.offset-lg-2
      p.lead.mb-5.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis et doloribus ipsam cum, molestias assumenda,
        aliquid dolorem tempora nostrum magnam.
      p.text-uppercase: a.btn.btn-outline-orange.btn-lg(href="#!") get in touch
