//- modules/header/_header.pug
include ../../mixins/_pictures

header.masthead.bg-dark
  .masthead-wraper
    +banner("cookies", "Adorade")
    .mastehead-overlay
      h1.mb-0 Cookies Policy!
      h6.mb-0 Dream Big. Think Different. Do Better
