//- modules/header/_header-services.pug
include ../../mixins/_pictures

header.masthead.bg-dark
  .masthead-wraper
    +banner("services", "Services")
    .mastehead-overlay
      h1.mb-0 Services
      h6.mb-0 Dream Big. Think Different. Do Better
