//- modules/header/_header-contact.pug
include ../../mixins/_top-picture

header.masthead.bg-dark
  .masthead-wraper
    +topPicture("contact", "Contact")
    .mastehead-overlay
      h1.display-1 Contact
