//- modules/header/_header-portfolio.pug
include ../../mixins/_top-picture

header.masthead.bg-dark
  .masthead-wraper
    +topPicture("top", "Portfolio")
    .mastehead-overlay
      h1.display-1 Portfolio
