//- modules/header/_header-services.pug
include ../../mixins/_top-picture

header.masthead.bg-dark
  .masthead-wraper
    +topPicture("top", "Services")
    .mastehead-overlay
      h1.display-1 Services
