//- modules/header/_header-info.pug
include ../../mixins/_pictures

header.masthead.bg-dark
  .masthead-wraper
    +banner("info", "Info")
    .mastehead-overlay
      h1.mb-0 Info for You
      h6.mb-0 Dream Big. Think Different. Do Better
