//- modules/header/_header-cookie.pug
include ../../mixins/_pictures

header.masthead.bg-dark
  +banner("cookies", "Cookies")
  .mastehead-overlay
    h1.mb-0 Cookies Policy
    h6.mb-0 Dream Big. Think Different. Do Better
